body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.text{
    font-size: 18px;
}
.text-other{
    font-size: 18px;
    display: flex;
    text-align: center;
    width: 50%;
    margin: auto;
}
.text-footer{
    font-size: 15px;
    color: white;
}
.title1{
    font-size: 50px;
    font-weight: bold;
    color: gray;
}
.title2{
    font-size: 36px;
    font-weight: bold;
    color: gray;
}
.title3{
    font-size: 26px;
    color: gray;
}
.click-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 15px 30px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
}
.customcolor{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 10px;
}
.section-width1{
    width: 50%;
    padding: 8%;
}
.section-width1 img{
    width: 120%;
}
.banner-pic{
    background-image: url(/images/section2_bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.section-width2{
    width: 50%;
    padding: 5%;
}
.section-width2 img{
    width: 62%;
    padding-top: 1%;
    padding-left: 23%;
}
.section-width3{
    width: 30%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    padding: 18px;
    box-shadow: 3px 3px 10px gray;
    border-radius: 15px;
}
.section-width3 img{
    width: 100%;
}
.footer{
   position:relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   text-align: center;
   padding-top: 3%;
   padding-bottom: 8%;
}
.store{
    font-size: 16px;
    text-decoration: none;
    padding-left: 40px;
    text-align:left;
}
.media{
    font-size: 16px;
    text-align:right;
    padding-right: 40px;
}