body{
    font-family: 'Poppins', sans-serif;
}
.text{
    font-size: 18px;
}
.text-footer{
    font-size: 16px;
}
.title1{
    font-size: 50px;
    font-weight: bold;
}
.title2{
    font-size: 36px;
    font-weight: bold;
}
.title3{
    font-size: 26px;
}
.click-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 15px 30px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
}
.customcolor{
    color: orange;
}
section{
    display: flex;
}
.section-width1{
    width: 50%;
    padding: 8%;
}
.section-width1 img{
    width: 120%;
}
.banner-pic{
    background-image: url(/images/section2_bg.png);
    background-repeat: no-repeat;
}
.section-width2{
    width: 50%;
    padding: 5%;
}
.section-width2 img{
    width: 62%;
    padding-top: 1%;
    padding-left: 23%;
}
